body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    background: #f8f8f8;
    color: #222;
}

/* HEADER */
header {
    padding: 40px 20px;
    text-align: center;
    background: white;
}

/* LOGO */
.logo {
    height: 140px;
    margin-bottom: 20px;
}

/* NAV */
nav {
    margin-top: 10px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #222;
    font-size: 14px;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero h2 {
    font-weight: 400;
    margin-bottom: 10px;
}

.hero p {
    color: #666;
}

/* PROJECT GRID */
.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    padding: 50px;
}

/* PROJECT ITEM */
.project-item {
    text-align: center;
}

/* IMAGE BOX */
.image-box {
    width: 100%;
    aspect-ratio: 3 / 2;   /* dengeli oran */
    overflow: hidden;
    background: #eee;
}

/* IMAGE */
.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;   /* alttan kırpma */
    transition: 0.3s;
}

/* HOVER EFFECT */
.image-box:hover img {
    transform: scale(1.05);
}

/* TEXT */
.project-item p {
    margin-top: 12px;
    font-size: 13px;
    color: #777;
}

/* ABOUT + CONTACT */
.about, .contact {
    padding: 60px 20px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
